/*****************************
    Add All Typography Here
*****************************/

/******** Styling ********/

html {
  font-size: 1rem;
}

body {
  font-size: 1em;
  // font-family: 'Inter';
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
}
